DB_NAME=op_users
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres

LDAP_AUTHENTICATION=true
LDAP_HOST=172.16.1.31
LDAP_PORT=3890
# Como ya tienes el DN completo del admin, este campo no es necesario:
LDAP_ADMIN_PREFIX=
# Usuario admin para bind
LDAP_ADMIN_USERNAME=cn=admin,dc=muserpol,dc=gob,dc=bo
LDAP_ADMIN_PASSWORD=t1lnrzi_2_VICqNntFlWs2UV
# Lo que se necesita para formar el DN del usuario autenticado
LDAP_ACCOUNT_PREFIX=uid
LDAP_ACCOUNT_SUFFIX=,ou=usuarios,dc=muserpol,dc=gob,dc=bo
# Ruta base para búsquedas (útil para searchFilter en estrategias LDAP)
LDAP_BASEDN=dc=muserpol,dc=gob,dc=bo

PORT=3000
HOST_API=192.168.2.5